/* New Styles */

.heroContainer {
  width: 100vw;
  background: #282a36;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 200px;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.image,
.content {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .heroContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image,
  .content {
    width: 100%;
  }

  .content {
    padding-right: 0px;
  }
}
